:root {
    --font-body: Gowun Dodum, sans-serif;
    --font-button: outfit, serif;
    --font-headers: Libre Caslon Text, serif;
    --green-dark: #43555a;
    --soft-pink: #f4ecf0;
    --med-pink: #dbb4c3;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-body);
    color: var(--green-dark);
    line-height: 1.5;
    background: var(--soft-pink);
}

a{
    text-decoration: none;
    color: var(--green-dark);
    font-weight: bolder;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headers);
    line-height: 1.5;
}

h1 {
    font-size: 60px;
}

h2 {
    color: var(--green-dark);
    font-size: 45px;
}

h3 {
    color: var(--green-dark);
    font-size: 30px;
}

h4{
    font-size: 25px;
}

img {
    max-width: 100%;
    display: block;
}

.component img{
    max-width: inital;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x:auto;
}

.component__code {
    border: 1px solid #ccc;
}

.component__code .nav__title{
    font-family: var(--font-button);
    font-size: 25px;
    font-weight: bolder;
    color: var(--green-dark);
}

.component__code .nav__button {
    font-family: var(--font-button);
    color: var(--green-dark);
}

.component__code h1{
    color: var(--white);
}

button{
    border: solid 1px var(--green-dark);
    color: var(--green-dark);
    background: var(--med-pink);
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    justify-content: baseline;
}

nav p{
    display: inline-flex;
}

.michelin{
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    max-width: 1250px;   
}

.eat_mod_img{
    max-width: 400px;
}

.eatdrink{
    text-align: center;
}

.eatdrink_module{
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 400px;
    justify-content: space-between;
    margin: 0 0 0 1px;
    text-align: left;
}

.eatdrink_mod_text{
   margin-left: 15px;
   margin-right: 15px;
}

