:root {
    --font-body: Gowun Dodum, sans-serif;
    --font-button: outfit, serif;
    --font-headers: bodoni moda, serif;
    --green-dark: #43555a;
    --soft-pink: #f4ecf0;
    --med-pink: #dbb4c3;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-body);
    color: var(--green-dark);
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headers);
    line-height: 1.5;
}

h1 {
    color: var(--white);
    background: #4b4b4b;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: var(--green-dark);
    font-size: 45px;
    background-color: var(--soft-pink);
}

h3 {
    color: var(--green-dark);
    font-size: 30px;
    background-color: var(--soft-pink);
}

img {
    max-width: 100%;
    display: block;
}

.component img{
    max-width: inital;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x:auto;
}

.component__code {
    border: 1px solid #ccc;
    background-color: var(--soft-pink);
}