/* REFERENCES */
:root {
    --font-body: Gowun Dodum, sans-serif;
    --font-button: outfit, serif;
    --font-headers: Libre Caslon Text, serif;
    --green-dark: #43555a;
    --soft-pink: #f4ecf0;
    --med-pink: #dbb4c3;
    --white: #ffffff;
}

/* GENERAL */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-body);
    color: var(--green-dark);
    line-height: 1.5;
    background: var(--soft-pink);
}

a{
    text-decoration: none;
    color: var(--green-dark);
    font-weight: bolder;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headers);
    line-height: 1.5;
}

h1 {
    font-size: 60px;
    color: var(--white);
}

h2 {
    color: var(--green-dark);
    font-size: 45px;
}

h3 {
    color: var(--green-dark);
    font-size: 30px;
}

h4{
    font-size: 25px;
}

img {
    max-width: 100%;
    display: block;
}


#email {
    background: var(--white);
}

button, #email-button{
    border: solid 1px var(--green-dark);
    color: var(--green-dark);
    background: var(--med-pink);
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    display: inline-flex;
}

/* NAV START */

.main-nav{
    max-height: 85px;
}

.nav__title{
    font-family: var(--font-button);
    font-size: 25px;
    font-weight: bolder;
    color: var(--green-dark);
}

.nav__button {
    font-family: var(--font-button);
    color: var(--green-dark);
}


.nav-bar-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.item1{
    display: flex;
    flex-direction: row;
}

nav img{
    max-width: 50px;
    max-height: 40px;
}

/* NAV END */

.main {
    margin: auto;
    text-align: center;
}

/* MAIN IMG START */

.main-img{
    position: relative;
    display: inline-block;
}

.main-img img{
    display: block;
}

.main-img-caption{
    position: absolute;
    text-align: center;
    top: 20%;
    bottom: 20%;
    left: 25%;
    max-width: 800px;
}

/* MAIN IMG END */
/* MICHELIN START */

.michelin{
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    max-width: 1250px; 
    margin: auto;  
}

.michelin__info{
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 1px;
    padding-left: 150px;
    text-align: left;
}

/* MICHELIN END */
/* EATDRINK START */

.eat_mod_img{
    max-width: 400px;
}

.eatdrink{
    text-align: center;
}

.eatdrink_module{
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 400px;
    justify-content: space-between;
    margin: 0 0 0 1px;
    text-align: left;
}

.eatdrink_mod_text{
   margin-left: 15px;
   margin-right: 15px;
}

.eatdrink_head_text{
    display: block;
    margin: auto;
    margin-bottom: 40px;
    max-width: 735px; 
}

/* EATDRINK END */
/* SHOP START */

.shop_mod_img{
    max-width: 400px;
}

.shop{
    text-align: center;
}

.shop_module{
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 400px;
    justify-content: space-between;
    margin: 0 0 0 1px;
    text-align: left;
}

.shop_mod_text{
   margin-left: 15px;
   margin-right: 15px;
}

.shop_head_text{
    display: block;
    margin: auto;
    margin-bottom: 40px;
    max-width: 730px;
}

/* SHOP END */
/* EVENTS START */

.event_mod_img{
    max-width: 500px;
}

.event{
    text-align: center;
    max-width: 1200px;
    margin: auto;
    display: block;
}

.event_module{
    max-width: 500px;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 5px;
    text-align: left;
}

.event_mod_text{
   margin-left: 15px;
   margin-right: 15px;
}

/* EVENTS END */
/* PRE-FOOTER START */

.pre-footer{
    text-align: center;
}

.pre-footer__imgs img{
    max-width: 250px;
}

.pre-footer__imgs{
    max-width: 1900px;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: scroll;

}

.pre-footer__signup {
    border: solid 2px var(--green-dark);
    background: var(--soft-pink);
    text-align: center;
}

/* PRE-FOOTER END */
/* FOOTER START */

.footer {
    background: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-nav{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
}

.footer img{
    max-width: max-content;
}

/* FOOTER END */