<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width", initial-scale="1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Components | Hotel Genevieve</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gowun+Dodum&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="../css/main.css">
        </head>
        <body>
            <h1>Web Components</h1>

            <h2>Typography Defaults</h2>

            <article class="component">
                
                <h3 class="component__name">navigation bar</h3>
                <div class="component__img">
                    <img srcset="img/nav_title.png 2x" src="img/nav_title.png" alt="nav title">
                    <img srcset="img/typography_title2.png 2x" src="img/nav_button.png" alt="nav book now">
                </div>
                <div class="component__code">
                    <p class="nav__title">HOTEL GENEVIEVE</p>
                    <p class="nav__button">BOOK NOW</p>
                </div>
                
                <h3 class="component__name">headings (h1, h2, h3 ...)</h3>
                <div class="component__img">
                    <img srcset="img/typography_title1.png 2x" src="img/typography_title1.png" alt="title1">
                    <img srcset="img/typography_title2.png 2x" src="img/typography_title2.png" alt="title2">
                    <img srcset="img/typography_title3.png 2x" src="img/typography_title3.png" alt="title3">
                </div>
                <div class="component__code">
                    <h1>GO BOLDLY INTO THE BLUEGRASS.</h1>
                    <h3>AWARDED 1 MICHELIN KEY 2024</h3>
                    <h2>EAT & DRINK</h2>
                </div>

                <h3 class="component__name">body</h3>
                <div class="component__img">
                    <img srcset="img/typography_body text.png 2x" src="img/typography_body text.png" alt="body text">
                </div>
                <div class="component__code">
                    <p>In the same way that the MICHELIN GUIDE Stars are awarded to restaurants offering the most exceptional culinary experiences, Keys are awarded to accommodations in the MICHELIN Guide’s hotel selection that offer the most remarkable stays. We’re honored to have been awarded 1 Key as part of this year’s selections.</p>
                </div>

                <h3 class="component__name">button</h3>
                <div class="component__img">
                    <img srcset="img/button.png 2x" src="img/button.png" alt="button">
                </div>
                <div class="component__code">
                    <button>READ MORE</button>
                </div>
            </article>
        </body>
    </html>