<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width", initial-scale="1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Components | Hotel Genevieve</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="main.css">
        </head>
        <body>
            <h1>Web Components</h1>

            <h2>Typography Defaults</h2>

            <article class="component">
                
                <h3 class="component__name">navigation bar</h3>
                <div class="component__img">
                    <img srcset="img/nav_title.png 2x" src="img/nav_title.png" alt="nav title">
                    <img srcset="img/typography_title2.png 2x" src="img/nav_button.png" alt="nav book now">
                </div>
                <div class="component__code">
                    <p class="nav__title">HOTEL GENEVIEVE</p>
                    <p class="nav__button">BOOK NOW</p>
                </div>
                
                <h3 class="component__name">headings (h1, h2, h3 ...)</h3>
                <div class="component__img">
                    <img srcset="img/typography_title1.png 2x" src="img/typography_title1.png" alt="title1">
                    <img srcset="img/typography_title2.png 2x" src="img/typography_title2.png" alt="title2">
                    <img srcset="img/typography_title3.png 2x" src="img/typography_title3.png" alt="title3">
                </div>
                <div class="component__code">
                    <h1>GO BOLDLY INTO THE BLUEGRASS.</h1>
                    <h3>AWARDED 1 MICHELIN KEY 2024</h3>
                    <h2>EAT & DRINK</h2>
                </div>

                <h3 class="component__name">body</h3>
                <div class="component__img">
                    <img srcset="img/typography_body text.png 2x" src="img/typography_body text.png" alt="body text">
                </div>
                <div class="component__code">
                    <p>In the same way that the MICHELIN GUIDE Stars are awarded to restaurants offering the most exceptional culinary experiences, Keys are awarded to accommodations in the MICHELIN Guide’s hotel selection that offer the most remarkable stays. We’re honored to have been awarded 1 Key as part of this year’s selections.</p>
                </div>

                <h3 class="component__name">button</h3>
                <div class="component__img">
                    <img srcset="img/button.png 2x" src="img/button.png" alt="button">
                </div>
                <div class="component__code">
                    <button>READ MORE</button>
                </div>
            </article>

            <h2>Organisms</h2>

            <article class="component">
                
                <h3 class="component__name">navigation bar</h3>
                <div class="component__img">
                    <img srcset="img/nav_ORGANISM.png 2x" src="img/nav-ORGANISM.png" alt="navigation bar">
                </div>
                <div class="component__code">
                    <nav>
                        <p><img src="img/nav_bars.png" alt= "nav bars">
                        <a href="#!">LOCATIONS</a></p>
                        <p class="nav__title">HOTEL GENEVIEVE</p>
                        <p><a href=#!>BOOK NOW</a></p>
                    </nav>
                </div>
                
                <h3 class="component__name">main</h3>
                <div class="component__img">
                    <img srcset="img/main_ORGANISM.png 2x" src="img/main-ORGANISM.png" alt="main page">
                </div>
                <div class="component__code">
                    <img src="../img/main_background_img.jpg" alt="main">
                    <h1>GO BOLDLY INTO THE BLUEGRASS.</h1>
                    <button>BOOK NOW</button>
                </div>

                <h3 class="component__name">michelin</h3>
                <div class="component__img">
                    <img srcset="img/michelin_ORGANISM.png 2x" src="img/michelin-ORGANISM.png" alt="michelin page">
                </div>
                <div class="component__code">
                    <div class="michelin">
                        <img srcset="img/michelin_atom.png 2x" class="michelinimg" src="img/michelin_atom.png">
                        <div class="michelin__info">
                            <h3>AWARDED 1 MICHELIN KEY 2024</h3>
                            <p>In the same way that the MICHELIN GUIDE Stars are awarded to restaurants offering the most exceptional culinary experiences, Keys are awarded to accommodations in the MICHELIN Guide’s hotel selection that offer the most remarkable stays. We’re honored to have been awarded 1 Key as part of this year’s selections.</p>
                            <button>READ MORE</button>
                        </div>
                    </div>
                </div>

                <h3 class="component__name">eat & drink</h3>
                <div class="component__img">
                    <img srcset="img/eatdrink_ORGANISM.png 2x" src="img/eatdrink-ORGANISM.png" alt="eatdrink page">
                </div>
                <div class="component__code">
                    <div class="eatdrink">
                        <div class="eatdrink_head_text">
                            <h2>EAT & DRINK</h2>
                            <p>There’s always a reason to visit the gateway to everything. Make plans to come and see it all, but especially our unique food & beverage outlets.</p>
                        </div>
                        <div class="eatdrink_module">
                            <img src="../img/minimarche.jpg" alt="mini marché" class="eat_mod_img">
                            <div class="eatdrink_mod_text">
                                <h4>MINI MARCHÉ</h4>
                                <p>The mini market at Hotel Genevieve offers local Kentucky provisions and new finds along with coffee and grab-and-go selections for breakfast and lunch including breakfast sandwiches, banana bread, or fresh produce.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="eatdrink_module">
                            <img src="../img/bar.jpg" alt="bar genevieve" class="eat_mod_img">
                            <div class="eatdrink_mod_text">
                                <h4>BAR GENEVIEVE</h4>
                                <p>The rooftop bar of Hotel Genevieve offers cocktails and light bites inspired by French street food and its many Mediterranean influences, with indoor and outdoor seating showcasing views of the city and the Ohio River.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="eatdrink_module">
                            <img src="../img/lucky.png" alt="lucky penny drink" class="eat_mod_img">
                            <div class="eatdrink_mod_text">
                                <h4>LUCKY PENNY</h4>
                                <p>Lucky Penny is tucked into a hidden location within Hotel Genevieve and is open for cocktails and bar snacks late into the night, for those fortunate enough to find it.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="component__name">image section</h3>
                <div class="component__img">
                    <img srcset="img/img_ORGANISM.png 2x" src="img/img-ORGANISM.png" alt="image organism">
                </div>
                <div class="component__code">
                    <img src="../img/pic1.jpg" alt="hotel room">
                </div>

                <h3 class="component__name">shop</h3>
                <div class="component__img">
                    <img srcset="img/shop_ORGANISM.png 2x" src="img/shop-ORGANISM.png" alt="shop page">
                </div>
                <div class="component__code">
                    <div class="shop">
                        <div class="shop_head_text">
                            <h2>VISIT OUR SHOP</h2>
                            <p>Peruse our selection of curated curiosities and unique wares and take the spirit of Hotel Genevieve with you when you go.</p>
                            <button>START BROWSING</button>
                        </div>
                        <div class="shop_module">
                            <img src="../img/robe.jpg" alt="robe" class="shop_mod_img">
                            <div class="shop_mod_text">
                                <h4>HOTEL GENEVIEVE ROBE</h4>
                                <p>Inspired by the rich quilting history of Kentucky, our signature robe was designed in collaboration with Block Shop Textiles in Los Angeles, CA, and produced in India.</p>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                        <div class="shop_module">
                            <img src="../img/sweatshirt.jpg" alt="genevieve sweatshirt" class="shop_mod_img">
                            <div class="shop_mod_text">
                                <h4>HOTEL GENEVIEVE SWEATSHIRT</h4>
                                <p>Designed in collaboration with Oxford Pennant, our Hotel Genevieve sweatshirt is inspired by your favorite varsity sweatshirt.</p>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                        <div class="shop_module">
                            <img src="../img/salt.jpg" alt="salt" class="shop_mod_img">
                            <div class="shop_mod_text">
                                <h4>REPLENISHING SALT SOAK X PALERMO</h4>
                                <p>This pretty pink blend combines powerhouse nourishing salts with heavenly jasmine and geranium for a lush and rejuvenating bath time upgrade.</p>
                                <button>SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="component__name">image section</h3>
                <div class="component__img">
                    <img srcset="img/img_ORGANISM.png 2x" src="img/img-ORGANISM.png" alt="image organism">
                </div>
                <div class="component__code">
                    <img src="../img/pic1.jpg" alt="hotel room">
                </div>

                <h3 class="component__name">hotel events</h3>
                <div class="component__img">
                    <img srcset="img/events_ORGANISM.png 2x" src="img/events-ORGANISM.png" alt="hotel events page">
                </div>
                <div class="component__code">
                    <div class="event">
                        
                        <h2>HOTEL EVENTS</h2>
                      
                        <div class="event_module">
                            <img src="../img/holidayevent1.png" alt="holiday event 1" class="event_mod_img">
                            <div class="event_mod_text">
                                <h4>DISCO BLIZZARD AT LUCKY PENNY</h4>
                                <p>Open Wednesdays, Thursdays, Fridays, and Saturdays from 5 - 12 PM until January 4th. Reservations highly encouraged.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="event_module">
                            <img src="../img/holidayevent2.jpg" alt="holiday event 2" class="event_mod_img">
                            <div class="event_mod_text">
                                <h4>THANKSGIVING PRE-HEAT AT BAR GENEVIEVE</h4>
                                <p>Join us Wednesday, November 27, from 9 PM to midnight at Bar Genevieve and let the sounds from DJ Ace Pro set the vibe for a night of Thanksgiving Eve reunions.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="event_module">
                            <img src="../img/event1.png" alt="event 1" class="event_mod_img">
                            <div class="event_mod_text">
                                <h4>BURGERS, BEER, & BINGO</h4>
                                <p>Every second Tuesday of the month, Bar Genevieve is teaming up with the fabulous Derby City Sisters for a monthly Bingo Night. Enjoy burgers, beer, and a chance to win big prizes, starting at 7 PM.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="event_module">
                            <img src="../img/event2.png" alt="event 2" class="event_mod_img">
                            <div class="event_mod_text">
                                <h4>DO YOU WANNA FUNK?</h4>
                                <p>Dive into Disco Happy Hour at Lucky Penny every Thursday and let our friends at Guestroom Records set the mood. Cool down, vibe out, and sip on buy-one-get-one-half-off cocktails from 5-8 PM.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                        <div class="event_module">
                            <img src="../img/event3.png" alt="event 3" class="event_mod_img">
                            <div class="event_mod_text">
                                <h4>BUBBLES & SHELLS WEEKLY HAPPY HOUR</h4>
                                <p>Treat yourself to $2 oysters and bubbly starting at $5, Monday to Friday.</p>
                                <button>LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </body>
    </html>